In [8]:
import os
import pandas as pd
import sys

input_path = os.path.abspath("../../mng-rangeland/csv/rangeland_data_wrk.csv")

In [9]:
df = pd.read_csv(input_path)
df.head()

,shp_id,x_coor,y_coor,aimag_eng,soum_eng,soum_length,soum_area,year,asid,ndvi,...,wgr_smr_gdd5,wgr_smr_wd1,wgr_smr_wd2,water.dummy,desert.dummy,desert.steppe.dummy,mountain.dummy,steppe.dummy,forest.steppe.dummy,taiga.dummy
0,262,108.345238,47.824459,Ulaanbaatar,Baganuur,101.081641,636.926215,1971,1101,NaN,...,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,262,108.345238,47.824459,Ulaanbaatar,Baganuur,101.081641,636.926215,1972,1101,NaN,...,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,1.0,0.0
2,262,108.345238,47.824459,Ulaanbaatar,Baganuur,101.081641,636.926215,1973,1101,NaN,...,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,1.0,0.0
3,262,108.345238,47.824459,Ulaanbaatar,Baganuur,101.081641,636.926215,1974,1101,NaN,...,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,1.0,0.0
4,262,108.345238,47.824459,Ulaanbaatar,Baganuur,101.081641,636.926215,1975,1101,NaN,...,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,1.0,0.0

In [12]:
df["bms"].value_counts()

0.0000     102
0.3000      91
0.4000      91
0.1000      89
0.5000      84
          ...
15.3400      1
0.4525       1
3.7400       1
15.1800      1
0.3275       1
Name: bms, Length: 1817, dtype: int64

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns